<html>
    <head>
        <title>I18n blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">I18n blog</a></h1>
        </div>

        <div>
            <p>published: 23.09.2018, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>This is my first ever blog post.</p>
        </div>

        <div>
            <p>published: 23.09.2018, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Here goes my second blog post.</p>
        </div>
    </body>
</html>
